.about {
  margin-bottom: 2.5rem;
}

.about__title {
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.1rem;

  @media (min-width: $tablet-width) {
    font-size: 2rem;
  }

  @media (min-width: $desktop-width) {
    font-size: 4rem;
  }
}

.about__img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 1rem;
  object-fit: cover;
  font-family: "object-fit: contain;"; /* stylelint-disable-line */
  border-radius: 50%;
  filter: sepia(100%) brightness(80%);

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    height: 250px;
  }
}

.about__descr {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 1.25rem;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    font-size: 1.5rem;
  }
}

.about__descr-color {
  color: $color-second;
}
