/*анимация прозрачости для .homepage*/
// время подобрано так, чтобы эта анимация происходила ПОСЛЕ анимации для текста "slide-out-fwd-center"

.anim-opacity {
  animation: anim-opacity 0.2s linear 3s both;
}

/**
 * ----------------------------------------
 * animation anim-opacity
 * ----------------------------------------
 */
@keyframes anim-opacity {
  0% {
    opacity: 1;
    transition: visibility;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transition: visibility;
  }
}
