.card {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  border: 1px solid $text-color;

  @media (min-width: $desktop-width) {
    display: flex;

    width: 100%;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    &:hover .card__overlay {
      opacity: 1;
      transition: opacity $transition-time;
    }
  }
}

.card__img-wrap {
  //flex-grow: 3;
}

.card__img {
  display: block;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: contain;"; /* stylelint-disable-line */
}

.card__descr-wrap {
  padding: 0.5em;

  @media (min-width: $desktop-width) {
    flex-basis: 13rem;
    flex-shrink: 0;

    padding: 1.5rem 1rem;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 0.5rem;

  @media (min-width: $desktop-width) {
    font-size: $font-size-h4;
  }
}

.card__descr-list {
  margin: 0;
  list-style: none;
}

.card__descr-list-item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -25px;
    width: 15px;
    height: 2px;
    transform: rotate(-45deg);
    background: $text-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: -30px;
    width: 8px;
    height: 2px;
    transform: rotate(45deg);
    background: $text-color;
  }
}

.card__descr {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 300;

  @media (min-width: $desktop-width) {
    font-size: 1.1rem;
  }

  &--pd-bottom {
    padding-left: 0;
  }

  &--last {
    padding-bottom: 1rem;
  }
}

.card__link {
  position: relative;
  display: block;
  padding: 1rem 0;
  width: 100%;
  font-size: 0.9rem;
  text-decoration: underline;
  text-transform: uppercase;
  color: $link-color;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    padding: 1rem;
    font-size: $font-size + 9px;
    text-align: center;
    text-decoration: none;
    color: $text-color;
  }

  &:first-child {
    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  &:active {
    color: $link-color--down;
  }

  &--desk {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.card__overlay {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(15, 18, 24, 0.85);

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.card__overlay-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}
