.cards-list {
  @include scrollbar;

  height: 100%;
  padding: 0.75rem;
  overflow-x: hidden;

  color: $text-color;

  @media (min-width: $tablet-width) {
    padding: 1.75rem;
  }

  @media (min-width: $desktop-width) {
    @include padding-desktop;
    overflow-x: auto;
  }
}

.cards-list__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
