.contact {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;

  width: 50%;
  height: 100vh;
  border-right: 1px solid $text-color;
  background: #2c2c2c;
  cursor: pointer;

  /*!!!!=======*/
  &--width {
    //добавляет скрипт
    width: 100%;
    border-right: none;
  }

  &--none {
    //добавляет скрипт
    width: 0;
    display: none;
  }
  /*=========*/
}

.contact__header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  &:hover {
    background-color: $text-color;
  }

  &:hover .contact__header {
    color: #3d3d3d;
  }

  /*!!!=======*/
  &--width {
    width: 50%;
    background-color: #3d3d3d;
  }
  /*=======*/
}

.contact__header {
  text-transform: uppercase;
  color: $text-color;
}

.contact__list-wrap {
  display: none;
  width: 0;

  color: $text-color;

  /*!!!!=======*/
  &--width {
    display: flex !important; /* stylelint-disable-line */
    justify-content: center;
    align-items: center;

    width: 50%;
  }
  /*==========*/
}

.contact__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  margin: 0;
  padding-left: 0;
  list-style: none;

  border-right: 1px solid #525252;
}

.contact__item {
  display: flex;
  height: 20%;

  &:not(:last-child) {
    border-bottom: 1px solid #525252;
  }
}

.contact__link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 42px;
  color: $text-color;

  &:hover {
    background-color: $text-color;
    color: #3d3d3d;
  }

  &:hover .contact__content {
    background-color: $text-color;
    color: #3d3d3d;
  }

  &--no-pointer {
    cursor: auto;
  }
}

.contact__content {
  color: $text-color;
}
