.contact {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  // justify-content: center;
  //align-items: center;/

  width: 50%;
  height: 100vh;

  border-right: 1px solid #e1e1e1;
  background: #2c2c2c;

  cursor: pointer;

  /*!!!!=======*/
  &--width {
    width: 100%;
  }
  /*=======*/
}

.contact__header-wrap {
  outline: 1px dotted coral;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  &:hover {
    background-color: #e1e1e1;
  }

  &:hover .contact__header {
    color: #3d3d3d;
  }

  /*!!!=======*/
  &--width {
    width: 50%;
  }
  /*=======*/
}

.contact__header {
  outline: 1px dotted coral;

  text-transform: uppercase;
  color: #e1e1e1;
}

.contact__list-wrap {
  outline: 1px dotted coral;

  color: #e1e1e1;

  display: none;
  width: 0;

  &:hover {
    background-color: #e1e1e1;
  }

  &:hover span {
    color: #3d3d3d;
  }

  /*!!!!=======*/
  &--width {
    display: flex !important;
    justify-content: center;
    align-items: center;

    width: 50%;
  }
  /*==========*/
}
