.education {
  @include scrollbar;

  min-height: 100%;
  padding: 0.75rem;
  overflow-x: hidden;

  color: $text-color;

  @media (min-width: $tablet-width) {
    padding: 1.75rem;
  }

  @media (min-width: $desktop-width) {
    @include padding-desktop;
    overflow-x: auto;
  }
}

.education__link {
  display: block;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  &:active {
    color: $link-color--down;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
  }
}

.education__img-wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.education__img {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;

  object-fit: contain;
  //font-family: "object-fit: contain;"; /* stylelint-disable-line */

  @media (min-width: $tablet-width) {
    margin-bottom: 1rem;
  }

  &--last-child {
    margin-bottom: 1rem;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}
