/* roboto-300 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light"),
    local("Roboto-Light"),
    url("../fonts/roboto-v20-cyrillic_latin-300.woff2") format("woff2"),
    url("../fonts/roboto-v20-cyrillic_latin-300.woff") format("woff");
}

/* roboto-400 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff");
}

/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/roboto-v20-cyrillic_latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v20-cyrillic_latin-500.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  //font-size: $font-size;
  font-weight: 500;
  //line-height: $line-height;
  //color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  word-wrap: break-word;
}

h1 {
  //font-size: $font-size-h1;
  //font-weight: 300;
}

h2 {
  font-size: $font-size-h2;
  font-weight: 500;
}

h3 {
  //font-size: $font-size-h3;
  //font-weight: 700;
}

h4 {
 // font-size: $font-size-h4;
  //font-weight: 700;
}

a {
  text-decoration: none;
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
