.me {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  //justify-content: center;
  align-items: center;

  width: 50%;
  height: 100vh;
  background: #2c2c2c;
  cursor: pointer;

  /*=========*/
  &--none {
    //добавляет скрипт
    width: 0;
    display: none;
  }
  /*=========*/
}

.me__header {
  outline: 1px dotted coral;

  width: 100%;
  text-align: center;
}

.me__link {
  color: #e1e1e1;
}
