

.modal {
  display: none;
  height: 100vh;

  &--show {
    display: block;
  }
}

.modal__img {
  display: none;
  cursor: pointer;

  &--show {
    display: block;
    position: fixed;
    z-index: 100;

    left: 50%;
    top: 50%;

    width: auto;
    height: 95vh;

    animation: scale-up-center 0.15s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both;
  }

  /**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

  @keyframes scale-up-center {
    0% {
      transform: translate(-50%, -50%) scale(0.4);
    }

    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
