.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;
  background-color: rgba(0, 0, 0, 0.7);

  animation: modal__fade 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

  &--show {
    display: block;
  }
}

@keyframes modal__fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
