.skills {
  @include scrollbar;

  display: none;
  min-height: 100%;
  padding: 0.75rem;
  overflow-x: hidden;

  color: $text-color;

  @media (min-width: $tablet-width) {
    padding: 1.75rem;
  }

  @media (min-width: $desktop-width) {
    @include padding-desktop;
    overflow-x: auto;
  }
}

.skills--show {
  display: block;
}

.skills__list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    column-count: 2;
    column-gap: 5%;
  }
}

.skills__list-item {
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;

  &--ok {
    position: relative;

    ::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 0;
      width: 10px;
      height: 2px;
      transform: rotate(45deg);
      background: $text-color;
    }

    ::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 5px;
      width: 15px;
      height: 2px;
      transform: rotate(-45deg);
      background: $text-color;
    }
  }
}

.skills__list-item-svg {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  width: 24px;
  height: 24px;

  margin-right: 1rem;
  fill: $text-color;

  &--mr {
    margin-right: 17px;
  }
}

.skills__list-item-text {
  font-size: 1rem;

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
  }

  @media (min-width: $desktop-width) {
    font-size: 1.5rem;
  }

  &--small {
    font-size: 0.85rem;

    @media (min-width: $tablet-width) {
      font-size: 1.25rem;
    }

    @media (min-width: $desktop-width) {
      font-size: 1.5rem;
    }
  }
}
