@import "normalize.scss";
@import "variables.scss";
//===
@import "blocks/global.scss";
@import "blocks/mixins.scss";
//===
// импорт остальных блоков
@import "blocks/about.scss";
@import "blocks/anim-opacity.scss";
@import "blocks/anim-slide-out.scss";
@import "blocks/card-list.scss";
@import "blocks/card.scss";
@import "blocks/contact.scss";
@import "blocks/education.scss";
@import "blocks/hobby.scss";
//@import "blocks/homepage.scss";
@import "blocks/me.scss";
@import "blocks/modal-content.scss";
@import "blocks/modal-overlay.scss";
@import "blocks/skills.scss";
@import "blocks/title.scss";
@import "blocks/video.scss";
