//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Roboto", "Arial", sans-serif;

//$font-size-h1: px;
$font-size-h2: 5rem;
$font-size-h3: 2.5rem;
$font-size-h4: 1.25rem;
//$font-size-h5: px;
//$font-size-h6: px;

//$font-size--xl-large: px;
//$font-size--x-large: px;
//$font-size--large: px;
//$font-size--larger: px;
$font-size: 18px;
//$font-size--smaller: px;
//$font-size--small: px;

//$line-height: em;
//$line-height-auto: 1.2em;

//================
/*Gray and brand colors*/
//================

//$color-main--lightest: ;
//$color-main--lighten: ;
//$color-main--light: ;
//$color-main: #283645;
//$color-main--dark: ;
//$color-main--darken: ;
//$color-main--darkest: ;

//$color-second--lightest: ;
//$color-second--lighten: ;
//$color-second--light: ;
$color-second: #00dbe1;
//$color-second--dark: ;
//$color-second--darken: ;
//$color-main--darkest: ;

// $gray--lightest: ;
//$gray--lighten: ;
//$gray--light: ;
//$gray-base: ;
//$gray--dark: ;
//$gray--darken: ;
//$gray--darker: ;
//$gray--darkenest: ;
//$gray--darkest: ;

$text-color: #e1e1e1; // Global text color on <body>;

//=============================
//===Components===
//=============================
//$content-width: px;

//$padding-base-vertical: px;
//$padding-base-horizontal: px;

//$border-radius-base: 5px;
//$border-radius-desk: 8px;

//=============================
//===Links====
//=============================
$link-color: #e1e1e1;
$link-color--hover: #00f5ff;
$link-color--down: #009399;

//=============================
//===Media queries breakpoints===
//=============================
$tablet-width: 660px;
$desktop-width: 960px;

//=============================
//===Retina queries breakpoints===
//=============================
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;

//=============================
//===Animate===
//=============================
$transition-time: 0.2s;
$anim: 0.3s both;
