//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Roboto", "Arial", sans-serif;

//$font-size-h1: px;
$font-size-h2: 5rem;
$font-size-h3: 2.5rem;
$font-size-h4: 1.25rem;

$font-size: 18px;

//================
/*Gray and brand colors*/
//================
$color-main: #2c2c2c;
$color-main--hover: #3d3d3d;
$color-second: #00dbe1;
$text-color: #e1e1e1; // Global text color on <body>;

//=============================
//===Links====
//=============================
$link-color: #e1e1e1;
$link-color--hover: #00f5ff;
$link-color--down: #009399;

//=============================
//===Media queries breakpoints===
//=============================
$tablet-width: 660px;
$desktop-width: 1200px;

//=============================
//===Retina queries breakpoints===
//=============================
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;

//=============================
//===Animate===
//=============================
$transition-time: 0.2s;
$anim: 0.4s both;
